*{margin: 0px;
padding: 0px;
font-family: poppins;
box-sizing: border-box;}

a{text-decoration: none;}

ul{list-style:none ;}

body{margin:0;
padding:0;
font-family: poppins;}

#article{display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 40px;
border-bottom: 1px solid rgba(0,0,0,0.5);}

.article-heading{display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.article-heading span{color: #f33c3c;}

.article-heading h3{font-size: 2.4rem;
color:2b2b2b;
font-weight: 600;}

.article-container{display: flex;
align-items: center;
justify-content: center;
margin: 20px 0px;
flex-wrap: wrap;}

.article-box{width: 350px;
background-color: #ffffff;
border: 1px solid #ececec;
margin: 20px;}

.article-img{width: 100%;
height: auto;}

.article-img img{width:100%;
height:100%;
object-fit: cover;
object-position: center;}

.article-text{
    padding: 30px;
    display: flex;
    flex-direction: column;}

.article-text span{color: #f33c3c;
font-size: 0.9rem;}

.article-text .article-title{font-size: 1.3rem;
font-weight: 500;
color: #272727;}

.article-text .article-title:hover{color:#f33c3c;
transition: all ease 0.3s;}

.article-title p{color: #9b9b9b;
font-size: 0.9rem;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
margin: 20px 0px;}

.article-text a:hover{color: #0f0f0f;}

.article-text a:hover{color:#f33c3c;
transition: all ease 0.3s;}
@media(max-width:1250px){.article-box{width: 300px;}}
@media(max-width:1100px){.articlebox{width:70%}}
@media(max-width:550px){.article-box{margin:20px 10px;
width:100%;}}
#article{padding: 20px;}